{% extends 'product/base.html' %}

{% block title %}
 <title>采购大厅</title>
{% endblock title%}

{% block lis %}
<li><a href="/farm/supply/">供应大厅</a></li>
<li class="active"><a href="/farm/purcharse/">采购大厅</a></li>
<li><a href="/farm/vehicle/">车源信息</a></li>
<li><a href="/farm/storage/">仓储信息</a></li>
<li><a href="/farm/price/">价格行情</a></li>
<li><a href="/farm/market/">市场动态</a></li>
<li><a href="/farm/baike/">农业百科</a></li>
<li><a href="/farm/statute">政策法规</a></li>
<li><a href="/publish/">我要发布</a></li>
{% endblock lis%}

{% block content %}
<div class='container-fluid'>
		<div style='margin:15px 0;'>
			<span>当前位置 &gt</span>
			<span><a href="#">采购大厅</a></span>
		</div>
		<!-- 主题内容 -->
	<div class='container-fluid' style="border:1px solid #e7e7e7">
			<div class='row purchase-title'>
				<div class='col-lg-4 col-xs-8'>标题</div>
				<div class='col-lg-3 visible-lg-block'>所在地区</div>
				<div class='col-lg-2 visible-lg-block'>联系人</div>
				<div class='col-lg-3 col-xs-4'>发布时间</div>
			</div>
			{% for item in purlist %}
			<div class='row purchase-content'>
				<div class='col-lg-4 col-xs-8'><a href="{% url 'product:purdetail' item.id %}">{{item.title|slice:':25'}}</a></div>
				<div class='col-lg-3 visible-lg-block purchase-p2'>{{item.region|slice:':15'}}</div>
				<div class='col-lg-2 visible-lg-block purchase-p3'>{{item.purchases.name|slice:':10'}}</div>
				<div class='col-lg-3 col-xs-4 purchase-p4'>{{item.pubtime|date:'Y-m-d'}}</div>
			</div>
			{% endfor %}

			<!-- 分页 -->
			<nav aria-label="Page navigation" style="text-align:center">
			 {% if data %}
				<ul class="pagination">
					{% if data.first %}
					<li><a href="?page=1">1</a></li>
					{% endif %}
					{% if data.left %}
					{% if data.left_has_more %}
					<li><span>...</span></li>
					{% endif %}
					{% for i in data.left %}
					<li><a href="?page={{i}}">{{i}}</a></li>
					{% endfor %}
					{% endif %}
					<li class="active"><a href="?page={{data.page}}">{{data.page}}</a></li>
					{% if data.right %}
					{% for i in data.right %}
					<li><a href="?page={{i}}">{{i}}</a></li>
					{% endfor %}
					{% if data.right_has_more %}
					<li><span>...</span></li>
					{% endif %}
					{% endif %}
					{% if data.last %}
					<li><a href="?page={{data.total_pages}}">{{data.total_pages}}</a></li>
					{% endif %}
				</ul>
				{% endif %}
			</nav><!-- 分页 end-->
		</div>
</div>
{% endblock content %}